body {
    margin: 30px !important;
}
.carousel-item img {
    height: 750px;
    width: auto;
}
.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 250px 5px 5px 5px;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
